h1 {
    color: color-mix(in srgb, rgb(55, 255, 0) 50%, rgb(0, 3, 18) 50%);
}

h2 {
    color: #5FCFFC;
    background-color: chartreuse;
}

h3 {
    color: darkred;
    font-size: xx-large;
    font-style: oblique;
}

button {
    color: darkgoldenrod;
    background-color: darkgray;
}

p {
    color: darkolivegreen;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}