body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(64, 64, 64);
    color: white;
    padding: 20px;

}

a {
    color: lightblue;
    display: inline-block;
    text-decoration: none;
}

li {
    margin-bottom: 6px;
}

footer {
    color: rgb(233, 232, 232);
}

.news {
    color: rgb(248, 70, 70);
    font-size: 1.2rem;
    font-weight: 700;
}

.list_header {
    color: green;
    font-size: 1.2rem;
    font-weight: 700;
}

.list_header::first-letter {
    font-size: 40px;
}

a::first-letter {
    font-size: 30px;
}