h1 {
    text-align: center;
    font-weight: 400;
    text-decoration: overline wavy;
    letter-spacing: 10px;
    font-size: 70px;
    font-family: 'Segoe UI', 'Arial black';
}

p {
    line-height: 2;
}

h2,
h3 {
    color: darkslateblue;
}

button {
    background-color: blue;
    color: red;
}

#login {
    color: green;
    background-color: #1d1d1d;
}

.tag {
    background-color: #e63946;
    color: #f1faee;
    font-size: 14px;

}