h1 {
    text-align: center;
    font-weight: 400;
    text-decoration: overline wavy;
    letter-spacing: 10px;
    font-size: 70px;
    font-family: 'Segoe UI', 'Arial black';
}

/* p {
    line-height: 2;
} */

h2,
h3 {
    color: darkslateblue;
}

button {
    background-color: blue;
    color: red;
}

#login {
    color: green;
    background-color: #1d1d1d;
}

/* Class selector */
/* .tag {
    background-color: #e63946;
    color: #f1faee;
    font-size: 14px;

} */
/* Direct selector */
/* button+button {
    background-color: aqua;
}
 */
div>span {
    background-color: rgb(235, 230, 172);
    color: rgb(203, 42, 42);
}

input[id="passwd"] {
    color: red;
}

button:hover {
    background-color: #e63946;
    color: #f1faee;
}

p:nth-of-type(2n) {
    background-color: #dfe8dc;
}