body {
    font-family: 'Roboto', sans-serif;
    background-color: #fefae0;
    color: black;
    padding: 20px;

}

a {
    color: #283618;
    display: inline-block;
    text-decoration: none;
}

li {
    margin-bottom: 6px;
}

li:nth-of-type(2n) {
    background-color: darkgray;
}

footer {
    color: #003049;
}

.news {
    color: #780000;
    font-size: 1.2rem;
    font-weight: 700;
}

.list_header {
    color: #780000;
    font-size: 1.2rem;
    font-weight: 700;
}

.list_header::first-letter {
    font-size: 30px;
}

a::first-letter {
    font-size: 30px;
}
div {
    height: 300px;
    width: 500px;
}
#one {
    background-color: #dda15e;
    border-width: 5px;
    border-color: #023e8a;
    border-style: solid;
    box-sizing: border-box; 

}
#two {
    background-color: #bc6c25;
}