body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(64, 64, 64);
    color: white;
    padding: 20px;

}
a {
    color: lightblue;
}
li {
    margin-bottom: 6px;
}
footer {
    color: rgb(233, 232, 232);
}
.goals, .reminders, .news {
    color: rgb(248, 70, 70); 
    font-size: 1.2rem;
    font-weight: 700;
}
