body {
    font-family: 'Roboto', sans-serif;
    background-color: #fefae0;
    color: black;
    padding: 20px;

}
h1 {
    background-color: #023047;
    padding-left: 40px; 
    padding-top: 50px;
    width: 460px;
    color: #e5e5e5;  
}

a {
    color: #283618;
    display: inline-block;
    text-decoration: none;
}

li {
    margin-bottom: 6px;
}

li:nth-of-type(2n) {
    background-color: darkgray;
}

footer {
    color: #003049;
}

.news {
    color: #780000;
    font-size: 1.2rem;
    font-weight: 700;
}

.list_header {
    color: #780000;
    font-size: 1.2rem;
    font-weight: 700;
}

.list_header::first-letter {
    font-size: 30px;
}

a::first-letter {
    font-size: 30px;
}
div {
    height: 300px;
    width: 500px;
}
#button {
    height: 50px;
    width: 500px;
    padding: 20px;
    margin-bottom: 20px;
}
#one {
    background-color: #dda15e;
    border-width: 3px;
    border-color: #023e8a;
    border-style: solid;
    border-radius: 2%;
    padding: 20px 30px 0 30px;
    margin-bottom: 20px;
}
#two {
    background-color: #bc6c25;
    border: 3px dashed #31572c;
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px 0 20px;
}
#three {
    background-color: #ffb3c6;
    border: 3px solid #0a9396;
    padding: 20px 30px 30px;
    margin-top: 30px;
}

button {
    padding: 2px 10px;
}